<div class="container">
    <h4 class="mt-5 mb-5">
        <b>ユーザー新規作成</b> 
    </h4>
    <table class="table">
    <tbody>
        <tr>
            <td scope="row" style="width: 30%">ユーザーID(編集不可)</td>
            <td>8</td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">ユーザーネーム</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">ハッシュ番号</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">メタタグ</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
    </tbody>
    </table>
</div>

<div class="container mt-5">
    <table class="table">
    <tbody>
        <tr>
            <td scope="row" style="width: 30%">プラットフォーム</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        プラットフォームを選択
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" value="1">1. Twitch</button></li>
                        <li><button class="dropdown-item" value="2">2. ふわっち</button></li>
                        <li><button class="dropdown-item" value="3">3. ツイキャス</button></li>
                        <li><button class="dropdown-item" value="4">4. YouTubeLive</button></li>
                        <li><button class="dropdown-item" value="5">5. LINEオープンチャット</button></li>
                        <li><button class="dropdown-item" value="6">6. X</button></li>
                        <li><button class="dropdown-item" value="7">7. Instagram</button></li>
                        <li><button class="dropdown-item" value="8">8. TikTok</button></li>
                        <li><button class="dropdown-item" value="9">9. OpenRec</button></li>
                        <li><button class="dropdown-item" value="10">999. その他</button></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">ユーザーID（Twitchのみ）</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">アカウント名</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">アカウント画像URL</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">アカウントアイコンURL</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
        <tr>
            <td scope="row" style="width: 30%">ユーザーURL</td>
            <td>
                <input type="" class="form-control" id="">
            </td>
        </tr>
    </tbody>
    </table>
</div>

<div class="container mt-5">
<div class="d-grid gap-2">
  <button class="btn btn-success" type="button">この内容で登録する</button>
  <button class="btn btn-primary" type="button">入力作業を続ける</button>
  <button class="btn btn-secondary" type="button">破棄する</button>
</div>
</div>