<!DOCTYPE html>
<html>
  <head>
    <title>NiconicoResearcherApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style type="text/css">
    
    </style>
  </head>

  <body>
  <%= yield %>
  </body>
</html>
